{namespace theme=KayStrobach\Themes\ViewHelpers}

<table class="row footer">
	<tr>
		<td class="wrapper">
			<table class="six columns">
				<tr>
					<td class="left-text-pad">
						<h6>Folgen Sie uns:</h6>
						<table class="tiny-button facebook">
							<tr>
								<td>
									<a href="http://www.facebook.com/TibethausDE">Facebook</a>
								</td>
							</tr>
						</table>

						<br>

						<table class="tiny-button twitter">
							<tr>
								<td>
									<a href="https://twitter.com/intent/user?screen_name=Tibethaus">Twitter</a>
								</td>
							</tr>
						</table>

						<br>

						<table class="tiny-button youtube">
							<tr>
								<td>
									<a href="http://www.youtube.com/user/TibethausDeutschland#p/a/u/1/c47gfh6zJyk">Youtube</a>
								</td>
							</tr>
						</table>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
		<td class="wrapper last">
			<table class="six columns">
				<tr>
					<td class="last right-text-pad">
						<f:render partial="Newsletter/Contact" />
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td align="center">
						<center>
							<p style="text-align:center;">Diese E-Mail wurde an ###USER_email### gesendet. | <a href="http://www.tibethaus.com/index.php?id=18&cmd=edit&aC=###SYS_AUTHCODE###&rU=###USER_uid###">Abmelden</a></p>
							<p style="text-align:center;">&copy; TIBETHAUS Deutschland e.V. | Frankfurt am Main | <a href="http://www.tibethaus.com/impressum.html">Impressum</a></p>
						</center>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>